// @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// // @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

$font-primary: "Lato", sans-serif;
$font-logo: "Didact Gothic", sans-serif;

$color-primary: rgb(243, 243, 243);
$color-secondary: #000000;
$color-tertiary: #a4754a;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeSpeed;
  font-kerning: none;
  border-collapse: inherit;
  outline: none;
}

::selection {
  background-color: #b3b2b1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 45%;
  }
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

.full_container {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;

  @media only screen and (max-width: 900px) {
    position: relative;
    top: 0;
  }
}

section {
  margin-bottom: 6vw;

  @media screen and (max-width: 768px) {
    margin-bottom: 8rem;
  }
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  height: inherit;

  @media only screen and (max-width: 900px) {
    width: 95%;
  }
}
