#Works {
  background-color: $color-primary;
  padding: 5.5rem 0;
}

.gallery {
  //   background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  //   grid-template-rows: repeat(7, 8vw);
  padding: 1.5rem;
  grid-gap: 2.5rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.gallery__item--1 {
  grid-row: 1/4;
  grid-column: 1/5;
  @media screen and (max-width: 768px) {
    grid-row: 1;
  }
}
.gallery__item--2 {
  grid-row: 4/7;
  grid-column: 5/-1;
  @media screen and (max-width: 768px) {
    grid-row: 2;
  }
}
.gallery__item--3 {
  grid-row: 4/7;
  grid-column: 1/5;
  @media screen and (max-width: 768px) {
    grid-row: 3;
  }
}
.gallery__item--4 {
  grid-row: 1/4;
  grid-column: 5/-1;
  @media screen and (max-width: 768px) {
    grid-row: 4;
  }
}
