// .navbar {
//   font-size: 18px;
//   background-color: $color-secondary;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   padding-bottom: 10px;
//   position: absolute;
//   top: 0;
//   height: 7rem;
//   z-index: 100;
//   width: 100%;

//   &__toggle {
//     position: absolute;
//     top: 10px;
//     right: 20px;
//     cursor: pointer;
//     color: rgba(255, 255, 255, 0.8);
//     font-size: 24px;
//   }

//   &__list {
//     list-style-type: none;
//     display: none;
//   }

//   &__list li {
//     text-align: center;
//     margin: 15px auto;
//   }

//   &__logo {
//     width: 12rem;
//     margin-left: 2rem;

//     img {
//       margin-top: 1rem;
//       width: 10rem;
//     }
//   }

//   &__links {
//     text-decoration: none;
//     color: #eee;
//   }
// }

// .active {
//   display: block;
// }

// @media screen and (min-width: 768px) {
//   .navbar {
//     display: flex;
//     justify-content: space-between;
//     padding-bottom: 0;

//     align-items: center;
//     transition: visibility 0s, opacity 0.5s linear;

//     &__toggle {
//       display: none;
//     }

//     &__list {
//       display: flex;
//       margin-right: 30px;
//       flex-direction: row;
//       justify-content: flex-end;
//     }

//     &__list li {
//       margin: 0;
//     }

//     &__links {
//       margin-left: 40px;
//     }

//     &__logo {
//       width: 12rem;
//     }

//     &__logo:hover,
//     &__links:hover {
//       color: rgb(193, 193, 193);
//     }
//   }
// }

// .navbar__sticky {
//   position: fixed;
//   top: 0;
//   color: #111;
//   left: 0;
//   background-color: rgba(255, 255, 255, 0.9);
//   z-index: 200;
//   box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.08);

//   .navbar {
//     &__logo {
//       color: $color-secondary;
//     }
//     &__toggle {
//       color: $color-secondary;
//     }

//     &__logo {
//       color: $color-secondary;
//     }

//     &__links {
//       color: $color-secondary;
//     }
//   }
// }

.header {
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 4;
  background-color: $color-primary;
  // @media screen and (max-width: 768px) {
  //   height: 96px;
  // }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  .logo {
    a {
      color: $color-secondary;
      font-size: 1.8rem;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .nav-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-right: 24px;
    }
    @media screen and (max-width: 768px) {
      width: 20px;
      margin-right: 16px;
    }

    .hamburger-menu {
      width: 25px;
      span {
        text-align: center;
        margin-bottom: 0.3rem;
        background: $color-secondary;
        height: 2px;
        width: 100%;
        display: block;
      }
    }
    .hamburger-menu-close {
      position: absolute;
      display: none;

      svg {
        @media screen and (max-width: 958px) {
          width: 56px;
        }
        @media screen and (max-width: 768px) {
          width: 48px;
        }
      }
    }
  }
}
