@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

.full_container{
    position: fixed;
    width: 100%;
}

.container{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

section{
    margin-bottom: 4rem;
}

ul{list-style: none;}

nav{
   height: 5rem;
   background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

.left-menu{
    flex: 1;

}

.dropdown_menu{
    width: 3rem;
    height: 3rem;
    position: fixed;
    left: 5rem;
    top: 1rem;
    border: 10px solid black;
}

.btn{
    padding: 0.6rem 2rem;
    background-color: #fff;
    color: black;
    border-radius: 0.2rem;
}


#Home{
    display: block;
    height: 100vh;
    width: 100%;
}


.right{
    flex: 2;
    align-items: center;
background-color: black;
  height: 5rem;  
  display: flex;
  justify-content: space-around;  
}


.logo a{
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.hide{
    display: none;
}

.right a{
    color:white;
}

.right .link a{
    color: black;
}

main{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    z-index: -2;
}

.hero img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.hero h1{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}


#Services{
    display: block;
    
    width: 100%;
    margin-bottom: -1rem;
}




.golden{
    color: #745236;
}

.heading{
    font-size: 3rem;
    padding: 4rem 0;
    font-weight: bold;
}



.row{
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.col{
    width: 40%;   
}

.col_img{
    width: 450px;
    
}

.col_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col_text{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    
}


#About{
    background-color: #74523631;
    width: 100%;
    height: 100vh;
}

.about_img{
     width: 30rem;
    height: 30rem;
}

.about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_info{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.about_text{
    width: 50%;
    font-size: 1.5rem;
}


#Clients{
    display: block;
    height: 100vh;
}